DemoWarehouseManagementServiceClient/WarehouseManagementServiceClient/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50805/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50805/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50805/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WarehouseManagementServiceApp1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_InsertDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDetailsById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailsById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDetailsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="InsertDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertDetails" message="tns:IService1_InsertDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertDetailsResponse" message="tns:IService1_InsertDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDetails" message="tns:IService1_GetDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDetailsResponse" message="tns:IService1_GetDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailsById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDetailsById" message="tns:IService1_GetDetailsById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDetailsByIdResponse" message="tns:IService1_GetDetailsById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateDetails" message="tns:IService1_UpdateDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateDetailsResponse" message="tns:IService1_UpdateDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteDetails" message="tns:IService1_DeleteDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteDetailsResponse" message="tns:IService1_DeleteDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailsById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDetailsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50805/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>