DemoWarehouseManagementServiceClient/WarehouseManagementServiceClient/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50805/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WarehouseManagementServiceApp1" />
  <xs:element name="InsertDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="warehosueCity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WarehouseManagementServiceApp1" minOccurs="0" name="GetDetailsResult" nillable="true" type="q1:ArrayOfWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="srNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WarehouseManagementServiceApp1" minOccurs="0" name="GetDetailsByIdResult" nillable="true" type="q2:Warehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="srNo" type="xs:int" />
        <xs:element minOccurs="0" name="warehouseCity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="srNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>